<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header pad">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Welcome back, CrystalM!</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#download">Download</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#features">Features</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Our Story</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

<div class="container-fluid yellow">
  <div class="row yellow">
    <div class="col-sm-4 text2"><img src="assets/img/text.png" class="img-responsive" alt="">Connect</div>
    <div class="col-sm-4 text2"><img src="assets/img/text.jpeg" class="img-responsive" alt="">Communicate</div>
    <div class="col-sm-4 text2"><img src="assets/img/text3.jpeg" class="img-responsive" alt="">Change</div>
  </div>
</div>
  <br><br>
<!-- Page Content -->
<div class="container">
    <div class="row">
            <p class="text4">Send an alert to your stored contacts with your current location to notify them that you need help.</p>
            <br><br>
            <button *ngIf="!isShowingMessage || isShowingMessage" (click)="sendText()" class="btn btn-warning btn-lg center yellow2">Send Alert Message Now</button>
              <div class="text5" *ngIf="isShowingMessage">
            <p class="text5"> Alert has been sent to Safety Contacts ✅ </p>
          </div>
            <h1 class="text"> 📌 Crystal's Safety Pin Contacts 📌 </h1>

      <app-contact-list></app-contact-list>


  <section class="display">
    <p class="text4">Add Contacts:</p>
    <form>
      <div class="field">
        <label class="text3">Name: </label>
        <input type="text3">
      </div>
      <div class="field">
        <label class="text3">Phone number: </label>
        <input type="text3">
      </div>
      <button class="btn btn-default text3">Create</button>
    </form>
  </section>
<section class="display">
    <p class="text4">Edit Contacts:</p>
    <form>
      <div class="field">
        <label class="text3">Name: </label>
        <input type="text3">
      </div>
      <div class="field">
        <label class="text3">Phone number: </label>
        <input type="text3">
      </div>
      <button class="btn btn-default text3">Update</button>
    </form>
  </section>
</div>
</div>
    <!-- /.row -->



<app-footer> </app-footer>
