.container{
    width: 100%;
    height: 100%;
    /*background-color: black;*/
    border: 1px solid black;
}

button{
    /*position: absolute;*/
    top: 50%;
    width: 30%;
    margin-left: 400px;
}

h3 {
  margin-left: 400px;
}

img{
    top: 10%;
    width: 600px;
    /*position: relative;*/
}
