ul li {
  padding: 10px;
}

img {
  padding: 10px;
  border: 2px;
  border-style: solid;
  border-color: white;
  border-radius: 3px;
}

.yellow {
  background-color: #fdcc52;
  padding: 20px;
  margin-top: 15px;
  margin-bottom: -10px;
}

.yellow2 {
  background-color: #fdcc52;
}


.pad {
  padding-top: 10px;
}

.text {
  text-align: center;
  letter-spacing: 1px;
}

.text2 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 50px;
  padding: 10px;
  text-align: center;
  text-rendering: optimizeLegibility;
}

.text3 {
  text-align: center;
  align-items: center;
  display: inline-block;
  letter-spacing: 1px;
  font-size: 20px;
}

.text4 {
  text-align: center;
  align-items: center;
  display: inline-block;
  letter-spacing: 1px;
  font-size: 26px;
}

.center {
  margin-left: 420px;
}


.display {
  float: left;
  padding: 120px;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
