  <body id="page-top">

      <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header pad">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                  </button>
                  <a class="navbar-brand page-scroll" [routerLink]="['register']">Welcome back, CrystalM!</a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                      <li>
                          <a class="page-scroll" href="#download">Download</a>
                      </li>
                      <li>
                          <a class="page-scroll" href="#features">Features</a>
                      </li>
                      <li>
                          <a class="page-scroll" [routerLink]="['about']">Our Story</a>
                      </li>
                      <li>
                          <a class="page-scroll" href="#contact">Contact</a>
                      </li>
                      <li>
                          <a class="page-scroll" href="#signout">Sign Out</a>
                      </li>
                  </ul>
              </div>
              <!-- /.navbar-collapse -->
          </div>
          <!-- /.container-fluid -->
      </nav>

      <header>
          <div class="container-fluid background">
              <div class="row">
                  <div class="col-sm-7">
                      <div class="header-content">
                          <div class="header-content-inner transbox">
                              <p class="header">Welcome to Safety Pin!</p>
                              <h2><i>Making the world a safer place for all humans sharing it.</i></h2>
                              <br>
                              <p>Safety Pin brings people, businesses, and communities together.</p>

                              <p>We provide the platform for safety in everyday life, travel, interaction, business, and community.</p>

                              <p>Our mission is to establish a safer world for everyone and create a movement that will enable all of us to make a difference.</p>

                              <br>
                              <a href="#download" class="btn btn-outline btn-xl page-scroll click">Learn more..</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-5">
                      <div class="device-container">
                          <div class="device-mockup iphone6_plus portrait gold">
                              <div class="device">
                                  <div class="screen transbox">
                                       <img src="assets/img/safety2.jpg" class="img-responsive" alt="">
                                  </div>
                                  <div class="button">
                                      <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </header>


            <!-- end HEADER -->
