<footer>
        <div class="container foot-color">
            <p> Safety Pin 📌 &copy; 2017. All Rights Reserved.</p>
            <ul class="list-inline">
                <li>
                    <a class="foot-color" href="#">Privacy</a>
                </li>
                <li>
                    <a class="foot-color" href="#">Terms</a>
                </li>
                <li>
                    <a class="foot-color" href="#">FAQ</a>
                </li>
            </ul>
        </div>


    <!-- jQuery -->
    <script src="assets/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://surveyjs.azureedge.net/0.12.19/survey.angular.min.js"></script>


    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/assetss/jquery-easing/1.3/jquery.easing.min.js"></script>

    <script data-require="jquery@*" data-semver="2.0.3" src="https://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script data-require="bootstrap@3.1.1" data-semver="3.1.1" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    


    <script src="https://maps.googleapis.com/maps/api/js?sensor=false&language=en&libraries=geometry"></script>

    <script>document.write("<base href=\"" + document.location + "\" />");</script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/new-age.min.js"></script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkUOdZ5y7hMm0yrcCQoCvLwzdM6M8s5qk&callback=initMap"></script>
</footer>
