h3 img {
    max-height: 50px;
}
#map {
    height: 450px;
    margin-left: 350px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.img-center {
    margin: 0 auto;
}

ul li {
  padding: 10px;
}

.pad {
  padding: 10px;
}

.text {
  text-align: center;
  letter-spacing: 1px;
  font-size: 36px;
}

.text2 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 50px;
  padding: 10px;
  text-align: center;
  text-rendering: optimizeLegibility;
}

.text3 {
  text-align: center;
  align-items: center;
  display: inline-block;
  letter-spacing: 1px;
  font-size: 20px;
  padding: 10px;
}

button {
  margin-left: 300px;
}
