<h1 class="track">{{ title }}</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>


<!-- <div class="map"></div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxKfDRdjvlt8iwtDqVrZm8hDM8VuqgwY4&callback=initMap"></script> -->
<!-- <body onload="javascript:initGeolocation()">
<div id="map">
  <img id="static-map" src="placeholder.png" />
</div> -->
