button {
  background-color: red;
  color: white;
}


ul li {
  padding: 40px;
  list-style: none;
  float: left;
}

.pad {
  padding: 10px;
}

.text {
  text-align: center;
  padding: 10px;
  letter-spacing: 1px;
}

.text2 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 50px;
  padding: 10px;
  text-align: center;
  text-rendering: optimizeLegibility;
}

.center {
  margin-left: 420px;
}


.display {
  float: left;
  padding: 120px;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
